name: Deploy Briefy Bot

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /root/Development/Bots/briefy-bot || exit 1

            echo "➡️ Pulling last changes"
            git fetch --all
            git reset --hard origin/main

            echo "➡️ Restart docker"
            docker compose down
            docker compose build --no-cache
            docker compose up -d

            echo "✅ Deploy complete! Commit: $GITHUB_SHA"
        env:
          GITHUB_SHA: ${{ github.sha }}
